@model HockeyPT.Models.Jogadores

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <div>
        <h3 style="color:brown">Tem a certeza que pretende eliminar o jogador?</h3>
       


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Apagar" class="btn btn-danger" /> 
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Equipas", new { id = Model.EquipaPK })'"> Cancelar </button>
            </div>
        }
    </div>
</body>
</html>
