@model IEnumerable<HockeyPT.Models.Noticias>
@*@model IEnumerable<HockeyPT.Models.Equipas>*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hoquei pt</h1>
    <img />
</div>

<div>
    
</div>



@*<div class="navbar">
        @foreach (var equipas in Model.Equipas)
        {
        <a href="~/EquipasFotos/@equipas.Logotipo" target="_blank">
            <img src="~/EquipasFotos/@equipas.Logotipo" width="50" height="70" />
        </a>
        }

    </div>*@

