@model HockeyPT.Models.Noticias

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3 style="color:brown">Tem a certeza que pretende eliminar a Notícia?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>


        </dl>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-danger" /> 
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Noticias")'"> Cancelar </button>
        </div>
}
    </div>
</body>
</html>
