<div>
    <br />
    <h1>Autor:</h1>
    <p>Andreia Maria Rodrigues Ferreira</p>
    <p>Engenharia Informática</p>
    <p>nº 19985</p>

    <h1>Administrador:</h1>
    <h4>Nome:</h4>
    <p>Andreia Maria Rodrigues Ferreira</p>
    <h4>E-mail:</h4>
    <p>andreiaferreira4@mail.pt</p>
    <h4>Password:</h4>
    <p>Admin_123</p>

    <h1>Moderadores:</h1>
    <h4>Nome:</h4>
    <p>José Carlos Lopes</p>
    <h4>E-mail:</h4>
    <p>jcarlopes3@hotmail.com</p>
    <h4>Password:</h4>
    <p>Mod_123</p>
    <br />
    <br />
    <h4>Nome:</h4>
    <p>Ana Nunes Ribeiro</p>
    <h4>E-mail:</h4>
    <p>ananunesrib9@gmail.com</p>
    <h4>Password:</h4>
    <p>Mod_123</p>
    <br />
    <br />
    <h4>Nome:</h4>
    <p>Ricardo Alves Ferreira</p>
    <h4>E-mail:</h4>
    <p>r_a_ferreira3@gmail.com</p>
    <h4>Password:</h4>
    <p>Mod_123</p>
</div>
