<h2>Sobre</h2>


<h2>Administrador</h2>

<h4>Nome:</h4>
<p>Andreia Maria Rodrigues Ferreia</p>

<h4>E-mail:</h4>
<p>andreiaferreira4@mail.pt</p>

<h4>Password:</h4>
<p>Admin_123</p>


<h2>Moderadores</h2>


<h4>Nome:</h4>
<p>Ricardo Alves Ferreia</p>

<h4>E-mail:</h4>
<p>r_a_ferreira3@gmail.com</p>

<h4>Password:</h4>
<p>Mod_123</p>

<h4>Nome:</h4>
<p>José Carlos Lopes</p>

<h4>E-mail:</h4>
<p>jcarlopes3@hotmail.com</p>

<h4>Password:</h4>
<p>Mod_123</p>

<h4>Nome:</h4>
<p>Ana Nunes Ribeiro</p>

<h4>E-mail:</h4>
<p>ananunesrib9@gmail.com</p>

<h4>Password:</h4>
<p>Mod_123</p>


